
html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: #2A7B9B;
    color: #fff !important;
}

.navbar-dark {
    background-color: #094259 !important;
}

.gradient {
    background: #2A7B9B;
    background: linear-gradient(168deg,
            rgba(42, 123, 155, 1) 0%,
            rgba(87, 199, 133, 1) 54%,
            rgba(237, 221, 83, 1) 100%);
}
.logo-img {
        width: 40%;
    }

.main {
    margin-top: 6rem;
}
ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    /* background-image: url(../img/check.svg); */
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

/* .icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
} */

a {
    color: #ea1515;
    text-decoration: none;
}

